<h2>Absentee Data</h2>

<div *ngIf="isLoading" class="loading">
  Loading data from server...
</div>

<div *ngIf="error" class="error">
  {{ error }}
</div>

<table mat-table [dataSource]="absenteeData" class="mat-elevation-z8" *ngIf="!isLoading && !error">
  
  <!-- Dynamic columns based on your SQL table structure -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
    <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
